

<html>
  <head>
    <script>
      $(document).on('click', function(event) {
        if (!$(event.target).closest('#popup1').length) {
        // Hide the menus.
        }
      });  
    </script>
  </head>
  <body>
     

      <div class="tree">
        
          <br />
          <br />
          <ul>

          <li>
              <div *ngFor = "let d of data" >
                  <div *ngIf = "d.Id == 1" routerLink="/popup3/{{d.Id}}">
                       
                    <a class="button"><h3><b>{{ d.Name }}</b></h3>
                      <p>Architect & Engineer</p></a>
                    </div>
                    </div>
            <ul>
              <li>
                <div *ngFor = "let d of data" >
                  <div *ngIf = "d.Id == 2" routerLink="/popup3/{{d.Id}}">
                       
                    <a class="button"><h3><b>{{ d.Name }}</b></h3>
                      <p>Architect & Engineer</p></a>
                    </div>
                    </div>
                <ul>
                  <li>
                    <div *ngFor = "let d of data" >
                      <div *ngIf = "d.Id == 3" routerLink="/popup3/{{d.Id}}">
                           
                        <a class="button"><h3><b>{{ d.Name }}</b></h3>
                          <p>Architect & Engineer</p></a>

                        </div>
                        </div>
                  </li>
                </ul>
              </li>
              <li>
                <div *ngFor = "let d of data" >
                  <div *ngIf = "d.Id == 4" routerLink="/popup3/{{d.Id}}">
                       
                    <a class="button"><h3><b>{{ d.Name }}</b></h3>
                      <p>Architect & Engineer</p></a>
                    </div>
                    </div>
                <ul>
                  <li>
                    <div *ngFor = "let d of data" >
                      <div *ngIf = "d.Id == 5" routerLink="/popup3/{{d.Id}}">
                           
                        <a class="button"><h3><b>{{ d.Name }}</b></h3>
                          <p>Architect & Engineer</p></a>
                        </div>
                        </div>
                  <li>
                    <div *ngFor = "let d of data" >
                      <div *ngIf = "d.Id == 11" routerLink="/popup3/{{d.Id}}">
                           
                        <a class="button"><h3><b>{{ d.Name }}</b></h3>
                          <p>Architect & Engineer</p></a>
                        </div>
                        </div>
                    <ul>
                      <li>
                          
                        <div *ngFor = "let d of data" >
                          <div *ngIf = "d.Id == 12" routerLink="/popup3/{{d.Id}}">
                               
                            <a class="button"><h3><b>{{ d.Name }}</b></h3>
                              <p>Architect & Engineer</p></a>
                            </div>
                            </div>
                      </li>
                      <li>
                        <div *ngFor = "let d of data" >
                          <div *ngIf = "d.Id == 13" routerLink="/popup3/{{d.Id}}">
                               
                            <a class="button"><h3><b>{{ d.Name }}</b></h3>
                              <p>Architect & Engineer</p></a>
                            </div>
                            </div>
                      </li>
                      <li>
                        <div *ngFor = "let d of data" >
                          <div *ngIf = "d.Id == 14" routerLink="/popup3/{{d.Id}}">
                               
                            <a class="button"><h3><b>{{ d.Name }}</b></h3>
                              <p>Architect & Engineer</p></a>

                            </div>
                            </div>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <div *ngFor = "let d of data" >
                      <div *ngIf = "d.Id == 15" routerLink="/popup3/{{d.Id}}">
                           
                        <a class="button"><h3><b>{{ d.Name }}</b></h3>
                          <p>Architect & Engineer</p></a>
                        </div>
                        </div>
                </ul>
              
              </li>
            </ul>
          </li>
          
        </ul>
      
        </div>
  </body>
</html>





