<html>
  <head>

  </head>
  <body>
      <div class="tree">
          <br />
          <br />
          <ul>
          <li>
              <a class="button" href= "#popup1"><h3><b>John Doe</b></h3>
                <p>Architect & Engineer</p></a>
            <ul>
              <li>
                  <a class="button" href= "#popup1"><h3><b>John Doe</b></h3>
                    <p>Architect & Engineer</p></a>
                <ul>
                  <li>
                      <a class="button" href= "#popup1"><h3><b>John Doe</b></h3>
                        <p>Architect & Engineer</p></a>
                  </li>
                </ul>
              </li>
              <li>
                  <a class="button" href= "#popup1"><h3><b>John Doe</b></h3>
                    <p>Architect & Engineer</p></a>
                <ul>
                  <li><a class="button" href= "#popup1"><h3><b>John Doe</b></h3>
                    <p>Architect & Engineer</p></a></li>
                  <li>
                      <a class="button" href= "#popup1"><h3><b>John Doe</b></h3>
                        <p>Architect & Engineer</p></a>
                    <ul>
                      <li>
                          <a class="button" href= "#popup1"><h3><b>John Doe</b></h3>
                            <p>Architect & Engineer</p></a>
                      </li>
                      <li>
                          <a class="button" href= "#popup1"><h3><b>John Doe</b></h3>
                            <p>Architect & Engineer</p></a>
                      </li>
                      <li>
                          <a class="button" href= "#popup1"><h3><b>John Doe</b></h3>
                            <p>Architect & Engineer</p></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                      <a class="button" href= "#popup1"><h3><b>John Doe</b></h3>
                        <p>Architect & Engineer</p></a>
                </ul>
              </li>
            </ul>
          </li>
          
        </ul>
        
        </div>
        <!--POPUP code here-->
        <div id="popup1" class="overlay">
          <div class="popup " href="#">
            
            <a class="close" href="#">&times;</a>
            <div class="content">
            <div class="card">
                <img src="../../assets/ned.jpg" alt="John" style="width:100%;border-radius: 15px;">
                <h1>John Doe</h1>
                <p class="title">CEO & Founder, Example</p>
                <p><span>Email: </span> john.doe@gmail.com</p>
                <p><span>Contact: </span> 123456</p>
                <br />
              </div>
            </div>
          </div>
        </div>


  </body>
</html>




