<div class="overlay">
    <div class="popup">
        <a class="close" href="#home">&times;</a>
        <div class="content">
          <div class="container">
              <form #imageForm = ngForm (ngSubmit) = "onSubmit(Caption,Image)">
                      <img [src]="imageUrl"  style="width:150px;height:150px">
                      <input type="file" #Image accept="image/*" (change) = "handleFileInput($event.target.files)" >
                      <button type="submit" class="btn waves-effect waves-light"><i class="material-icons right">send</i>submit</button>
               </form>
            </div>
            </div>
          </div>
      </div>
   