<div class="overlay">
	<div class="popup">
		<a class="close" href="#home">&times;</a>
		<div class="content">
       <!-- <div *ngFor = "let d of data" >-->
          
            <div *ngIf = "data">
               <div class="card">
              <button class="btn"><a><i class="fa fa-user-o " routerLink="/upload" ></i></a></button>
            <img src="../../assets/avatar.png" alt="Profile Pic" style="width:100%">
            

            <h6>{{ data.Name }}</h6>
            <p class="title">
              <span>Email: </span>
              {{ data.Email }}
            </p>
            <!--p><span>Contact: </span> {{ data.Contact }}</p-->
              <a><i class="fa fa-dribbble"></i></a> 
              <a><i class="fa fa-twitter"></i></a> 
              <a><i class="fa fa-linkedin"></i></a> 
              <a><i class="fa fa-facebook"></i></a> 
            <p><button>Contact</button></p>
         <!--</div>-->
          </div>
        </div>
		</div>
	</div>
</div>