
<div class="overlay">
	<div class="popup">
		<a class="close" routerLink="">&times;</a>
		<div class="content">
       <!-- <div *ngFor = "let d of data" >-->
          <app-upload-image></app-upload-image>
            <div *ngIf = "data">
               <div class="card">
            <!--<img src="../../assets/avatar.png" alt="Profile Pic" style="width:100%">-->
            
            <h3>{{ data.Name }}</h3>
            <p class="title">
              <span>Email: </span>
              {{ data.Email }}
            </p>
            <p><span>Contact: </span> {{ data.Contact }}</p>
            <br />
         <!--</div>-->
          </div>
        </div>
		</div>
	</div>
</div>

